<h2>Processed Numbers:</h2>

<form id="numberForm">
	<input type="text" name="values" placeholder="Enter comma-separated numbers" required />
	<button type="submit">Submit</button>
</form>

<ul id="numbersList">
	{% for item in processed %}
	<li>{{ item.value }}</li>
	{% endfor %}
</ul>

<script>

	const form = document.getElementById("numberForm");
	const numbersList = document.getElementById("numbersList");

	form.addEventListener("submit", async (e) => { // fazer isto tudo quando clico Submit
		e.preventDefault();
		const input = form.values.value; 
		const values = input
			.split(",")
			.map((v) => parseInt(v.trim()))
			.filter((v) => !isNaN(v)); // pega no input e transforma numa lista

		if (values.length === 0) return; // se estiver vazio o input o script para

		const response = await fetch("/api/process-item/", { // manda a lista para a api (na api.urls)
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ values }),
		});

		const data = await response.json(); // recebe os novos valores dobrados do ProcessItemView (na api.views)

		// mostra os numeros na pagina
		data.forEach((item) => {
			const li = document.createElement("li");
			li.textContent = item.value;
			numbersList.prepend(li); // adiciona os novos valores dobrados à lista
		});

		form.reset(); // limpa o input
	});
</script>
